{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
<header>Todo App</header>
<form action='/addTodoItem/' method="post">
    {% csrf_token %}
    <div class="inputField">
      <input type="text" name="content" placeholder="Add your new todo">
      <input type="submit" value="+" class="btn btn-success add">
    </div>
</form>
    
    <ul class="todoList">
       {% for i in all_items %}

        <li>{{ i.content }} </li>
        <form action="/deleteTodoItem/{{i.id}}/" method="post">
          {% csrf_token %}
            <input type="submit" value="X" class="btn btn-danger delete">
          </form>
    {% endfor %}
    </ul>
    
   
    <div class="footer">
      <span>You have <span class="pendingTasks">{{ pending_items }}</span> pending tasks</span>
      <button>Clear All</button>
    </div>
  </div>
{% endblock %}