{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
<form action='/addTodoItem/' method="post">
    {% csrf_token %}
    <div class="inputField">
      <input type="text" name="content" placeholder="Add your new todo">
      <input type="submit" value="+">
    </div>
</form>
<form action="/deleteTodoItem/{{i.id}}" method="post">
{% csrf_token %}
<input type="submit" value="delete">
</form>
<header>Todo App</header>
    
    <ul class="todoList">
       {% for i in all_items %}

        <li>{{ i.content }}<button type="submit" class="btn btn-danger" value="{{i.id}}">X</button></li>
 
    {% endfor %}
    </ul>
    
    
    <div class="footer">
      <span>You have <span class="pendingTasks"></span> pending tasks</span>
      <button>Clear All</button>
    </div>
  </div>
{% endblock %}